
<a href="#" class="crunchify-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>

<div class="uc-mobile-menu uc-mobile-menu-effect">
    <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas"
        id="uc-mobile-menu-close-btn">&times;</button>
    <div>
        <div>
            <ul id="menu">
                <li><a href="{% url 'mainsite:home' %}">Home</a></li>
                <li><a href="{% url 'mainsite:category' slug='world' %}">World</a></li>
                <li><a href="{% url 'mainsite:category' slug='business' %}">Business</a></li>
                <li><a href="{% url 'mainsite:category' slug='technology' %}">Technology</a></li>
                <li><a href="{% url 'mainsite:category' slug='lifestyle' %}">Lifestyle</a></li>
                <li><a href="{% url 'mainsite:contact' %}">Contact Us</a></li>
            </ul>
            
            
        </div>
    </div>
</div>
<!-- .uc-mobile-menu -->

