{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <a href="{% url 'mainsite:home' %}" class="btn btn-secondary mb-3" style="background-color: rgb(26, 105, 224); color: white;">Home</a>
    <h2>Contact Us</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'mainsite:home' %}" class="btn btn-secondary" style="background-color: rgb(26, 105, 224); color: white;">Home</a>
    </form>
    {% if messages %}
        {% for message in messages %}
            <script>
                alert("{{ message }}");
            </script>
        {% endfor %}
    {% endif %}
    
    <div class="mt-5">
        <h4>Our Location</h4>
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d18095594.749961026!2d57.729297995470375!3d16.51482573825736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a395b486e296b27%3A0x52ef7516c588cada!2sSnapBrio!5e0!3m2!1sen!2sin!4v1746093198154!5m2!1sen!2sin"
             width="600" height="450" 
             style="border:0;" allowfullscreen="" 
            loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            >
        </iframe>
    </div>



</div>
</body>
</html>
